.App {
  background-color: #282c34;
  text-align: left;
}
.grid-container {
  display: grid;
  width:100%;
  grid-template-columns: 1fr 1fr 1fr; /* Three columns with equal width */
  gap: 0%; /* Adjust the gap between columns */
}

/* Style for each graph container */
.graph-container {
  border: 1px solid #ddd;
  padding: 0%;
  width: 100%;
}
